:root {
  --black-color: #272727;
  --grey-color: #6b6b6b;
  --light-grey-color: #9e9fa7;
  --orange-color: #f07d00;
  --shadow-1: 13px 13px 20px #cbced1;
  --shadow-2: -13px -13px 20px #fff;
  --background-card-color: #ecf0f3;
}

.small-margin-top {
  margin-top: 1rem;
}

.bold {
  font-weight: 600;
}
